body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #FFFFFF;
  a {
    text-decoration: none;
  }
  ul {
    list-style-type: none;
  }
}
/* header */
.headerblock {
  background-color: #fff;
}
.title-name-first {
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-size: 18px;
  font-weight: 700;
  color: #4d5ae5;
}
.title-name-web {
  font-family: "Roboto", sans-serif;
  color: #2e2f42;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-size: 18px;
  font-weight: 700;
}
.nav-link .nav-link-element {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #2e2f42;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.nav-link .nav-link-element:hover {
  color: #404bbf;
}
.nav-link .nav-link-element:active {
  text-decoration: underline;
  color: #404bbf;
}
.nav-link .nav-link-element:focus {
  color: #404bbf;
}
.nav-header .title-name-first:active {
  color: #404bbf;
}
.address-post {
  font-style: normal;
}
.address-link {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  color: #434455;
  line-height: 1.5;
  letter-spacing: 0.32px;
}
.address-link:hover,
.address-link:focus {
  color: #404bbf;
}
/* main-about */
.main-about {
  background-color: #2e2f42;
  text-align: center;
}
.main-about .about-text-content {
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-weight: 700;
  color: #fff;
  line-height: 1.07;
  letter-spacing: 1.12px;
  text-align: center;
}
.main-about .about-button {
  background-color: #4d5ae5;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.64px;
  cursor: pointer;
  border: 0;
}
.main-about button:hover {
  background-color: #404bbf;
}
.main-about button:focus {
  background-color: #404BBF;
}
/* strategy-studio */
.strategy-studio {
  background-color: #fff;
}
.strategy-studio li {
  text-align: left;
}
.third-title {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: #2e2f42;
}
.post-text {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: #434455;
}
/* our-team */
.our-team {
  text-align: center;
  background-color: #f4f4fd;
}
.second-title {
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  color: #2e2f42;
  letter-spacing: 0.72px;
  text-align: center;
  text-transform: capitalize;
}
.our-team .our-team-element {
  background-color: #fff;
}
/* our-portfolio */
.our-portfolio {
  background-color: #fff;
}
.our-portfolio li {
  text-align: left;
  background-color: #fff;
  border: 1px solid #e7e9fc;
}
/* footer */
footer {
  background-color: #2e2f42;
}

.title-name {
  font-family: "Roboto", sans-serif;
  color: #f4f4fd;
  line-height: 1.17;
  letter-spacing: 0.54px;
  font-size: 18px;
  font-weight: 700;
}
footer .post-text {
  color: #f4f4fd;
}
